<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>contact-us</title>
</head>

<body>
  <h3>Phone no. : <a href="tel:7742245155">7742245155</a></h3>
  <h3>E-mail : <a href="mailto:adityavyascs@gmail.com">adityavyascs@gmail.com</a></h3>
</body>

</html>
