<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <!--bootstrap -->

  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/home.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/850c737ebd.js" crossorigin="anonymous"></script>
  <!-- Google fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>
  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand title" href="index" style="color:black;">Voter Portal</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">

            <!-- <li class="nav-item">

              <a class="nav-link" href="signup.html">Login</a>

            </li> -->

            <li class="nav-item">

              <a class="nav-link" href="news.html">News</a>

            </li>

            <li class="nav-item">

              <a class="nav-link" href="#jump">Contact us</a>



            </li>

          </ul>

        </div>

      </nav>



      <!-- Title -->

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h1>Vote for better tomorrow.</h1>
          <h3></h3>

          <ul>
            <!-- <li>Apply for Voter card</li>
            <li>Download Voter card</li>
            <li>Check application status</li> -->
          </ul>
          <!-- <button type="button" class="btn btn-dark  btn-lg"><i class="fa-brands fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light  btn-lg"><i class="fa-brands fa-google-play"></i> Download</button> -->
        </div>
        <div class="col-lg-6 col-md-12">

          <!-- <img class="iphone" src="images/iphone6.png" alt="iphone-mockup"> -->
        </div>
      </div>
    </div>



  </section>





  <!-- Features -->




  <!-- Features -->

  <!-- <section id="features">

    <div class="row">
      <div class="col-lg-4 feature-box">
        <i class="icon fa-solid fa-circle-check fa-4x"></i>
        <h3></h3>
        <p class="tex"></p>
      </div>

      <div class="col-lg-4 feature-box">
        <i class="icon fa-solid fa-bullseye fa-4x"></i>
        <h3></h3>
        <p class="tex"></p>
      </div>

      <div class="col-lg-4 feature-box">
         <i class="icon fa-solid fa-heart fa-4x"></i>
        <h3></h3>
        <p class="tex"></p>
      </div>
    </div>
  </section> -->

  <!-- slides -->

  <section id="functions">
    <div class="row">
      <!-- <div class="functions-1 col-lg-6 col-md-6">
    <h3>What you can do here </h3>
    <ul>
      <li>Register as Voter</li>
      <li>Check status of your Application</li>
      <li>Daily updates about Elections</li>
    </ul>
  </div> -->
      <div class="col-lg-6 ">




        <h4 class="heading-101" style="width:200px">Register as a Voter</h4>

        <button type="submit" name="button" class="home-button-1 status-submit btn btn-lg btn-primary" onclick="window.location.href='/apply';">Register</button>

        <!-- </div> -->
        <!-- <div class="col-lg-6 col-md-6 home-div-2"> -->
        <h4 class="heading-102" style="width:270px">Check Application status</h4>

        <button type="submit" name="button" class="home-button-2 status-submit btn btn-lg btn-primary" onclick="window.location.href='/status';">Go</button>



      </div>

      <div class="col-lg-6 " class="voter-image">
        <img class="photo title-image" src="images/voter.jpg" alt="">
      </div>
  </section>
  <section id="testimonials">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>Images</h2>
          <!-- <img class="testimonials-image" src="images/dog-img.jpg" alt="dog-profile"> -->

        </div>

        <div class="carousel-item">
          <h2 class="testimonial-text">Images</h2>
          <!-- <img class="testimonials-image" src="images/lady-img.jpg" alt="lady-profile"> -->
          <em></em>
        </div>

        <div class="carousel-item">
          <h2 class="testimonial-text">Images</h2>
          <!-- <img class="testimonials-image" src="images/lady-img.jpg" alt="lady-profile"> -->
          <em></em>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
    </div>

    <!-- Footer -->






  </section>

  <div id="jump" class="footer" style="background-color:#dcdcdc">

    <!-- <button type="button" class="btn btn-outline-secondary bt1" style="color:white; border-color:white;"></button> -->
    <a class="footer-icon" href="https://www.facebook.com" target="_blank"><i class="social-icon fab fa-facebook-f"></i></a>
    <a class="footer-icon" href="https://twitter.com/adityavyas861" target="_blank"><i class="social-icon fab fa-twitter"></i></a>
    <a class="footer-icon" href="https://www.instagram.com/_adityaa30_/" target="_blank"><i class="social-icon fab fa-instagram"></i></a>
    <a class="footer-icon" href="mailto:adityavyascs@gmail.com" target="_blank"><i class="social-icon fas fa-envelope"></i></a>


    <p class="copyright">© Copyright 2022 Voter Portel</p>
  </div>

</body>

</html>
